

table.TimeSelectorTable {
	background-color: #f6e8d8;
	color: #ffffff;
}

td.TimeSelectorCell, th.TimeSelectorCell {
	text-align: center; 
	vertical-align: middle; 
	background-color: #3f270c;
	width:40px;
}

td.TimeSelectorCell:hover {
	background-color: #ffa43b;
}